<div class="card">
    <img src="https://images.pexels.com/photos/2833316/pexels-photo-2833316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
    <div class="class-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-success text-danger text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100</small>

        <h5 class="mt-1"> HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
        <P>sasa adad f fsf sdf sfsd fsfsfs sfs fsfsf f fsfsfsdafwf fsffsfs wferegrhge </P>

        <small class="bg-light text-warning text-center ml-3"> time</small>
    </div>
</div>